:root {
    --main-background: #000000A0;
    --main-font-color: #FBFCFC;
    --button-color-1: #DA0731;
    --button-color-2: #F2F3F4;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: none;
}

body > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

body > div:first-child > p {
    font-size: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: var(--button-color-1);
    color: var(--button-color-2);
    cursor: pointer;
}

button:hover {
    background-color: var(--button-color-2);
    color: var(--button-color-1);
}

#sample {
    width: 350px;
    position: relative;
    right: 10px;
}

#guarantee {
    width: 100px;
}